<h1>Answer</h1>

<div class="question">
  <div class="question-content answer-container">
    <p class="text-italic"> Your question : </p>
    <%= @question %>
  </div>
</div>
<div class="answer border">
  <div class="answer-content answer-container">
    <p class="text-italic"> Coach's answer : </p>
    <%= @answer %>
  </div>
</div>


<div class="link">
<p><%= link_to 'Ask a new question', ask_path %> </p>
</div>
