<h1>Stupid Coaching</h1>

<div class="ask-form">
  <p>Ask you coach anything : </p>
  <form action="/answer">
    <input type="text" name="question" placeholder="Type your question">
    <input type="submit" value="Ask!" class='btn-blue'>
  </form>
</div>


